[Desktop Entry]
Type=Application
Name=Magic Tree Experience
Comment=Start Magic Tree Interactive Experience
Exec=/home/magicctree/Desktop/Magic-Tree/autostart_magic_tree.sh
Path=/home/magicctree/Desktop/Magic-Tree
Terminal=false
StartupNotify=true
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=3
